*{
    margin: 0;
    padding: 0;
}
.logo img{
     width: 25%;
     border: 3px solid white;
     border-radius: 50px;
}

.navbar{
    display: flex;
}

.nav-list{
       width: 50%;
       background-color: yellow;
}

.nav-list li{

}

.nav-list li a{

}
.rightnav{
    background-color: blueviolet;
    width: 50%;
    text-align: right;
}